@import url("https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@400;500;700&family=Arbutus+Slab&family=Kalam:wght@400;700&display=swap");

:root {
  --title: "Kalam", cursive;
  --subtitle: "Alegreya SC", serif;
  --text: "Arbutus Slab", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  font-family: var(--text);
  font-size: 16px;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--subtitle);
}
h3 {
  font-size: 42px;
}
h4 {
  font-size: 26px;
}

/* NAVIGATION */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.438);
  z-index: 100;
}
.logo p {
  font-family: var(--title);
  font-weight: bold;
  font-size: 18px;
  text-shadow: 0 1px 2px black;
}
.toggleNav {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
.toggleNav i.fa-bars {
  font-weight: bold;
  font-size: 26px;
  text-shadow: 0 1px 2px black;
}
.nav-list {
  position: absolute;
  background-color: rgb(180, 241, 241);
  top: 0;
  height: 100vh;
  right: 0;
  width: 300px;
  list-style: none;
  padding: 2rem;
  transform: translate(100%, 0);
  transition: 0.5s;
  opacity: 0;
}
.nav-list.toggle {
  transform: translate(0, 0);
  opacity: 1;
}
.nav-list li {
  margin-bottom: 1rem;
}
.nav-link {
  color: #1f333c;
  text-decoration: none;
  font-family: var(--subtitle);
  font-size: 30px;
}
.closeNav {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  background: transparent;
  font-size: 30px;
  cursor: pointer;
}

/* HERO */
header {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  background: url("./images/malang.png") center/cover no-repeat;
}
.hero {
  text-align: center;
  max-width: 500px;
  width: 90%;
}
.hero h1 {
  font-family: var(--title);
  font-weight: bold;
  font-size: 38px;
  text-shadow: 4px 4px 6px black;
}
.hero h2 {
  font-family: var(--subtitle);
  font-weight: 600;
  font-size: 26px;
  text-shadow: 4px 4px 6px black;
}

article {
  margin: 0 auto;
  padding: 3rem 1.2rem;
  text-align: center;
  /* border: 2px solid blue; */
}

.image {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.4);
  margin: 0.5rem;
}
.article_title {
  margin-bottom: 1.5rem;
}
.article_subtitle {
  margin-top: 2rem;
}
.article_text {
  margin: 1.5rem 0;
}
.single_fact {
  margin: 0 auto;
  max-width: 350px;
}
.fact_text {
  margin: 0.5rem;
}

.slider {
}
.card {
  z-index: 0;
  margin: 0 15px;
  padding: 30px 20px;
  border-radius: 20px;
  max-width: 500px;
  color: white;
  background-color: #1f333c;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.4);
}
.card_title {
  margin-bottom: 1.5rem;
  font-size: 30px;
}
.card_image {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.dot-container {
  position: relative;
  margin: 0.6rem auto;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.biodata-card {
  margin-bottom: 2rem;
  padding: 3rem 10px 4rem;
}
.biodata-image {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.biodata-name {
  margin-bottom: 1.5rem;
}

.contact-card {
  margin-bottom: 3rem;
}
.contact-title {
  margin-bottom: 1.5rem;
}
.contact-form {
  /* border: 2px solid red; */
}
.contact-form-email {
  border: none;
  width: 85%;
  height: 35px;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  padding: 20px;
}
.contact-form-container {
  margin: 0 auto;
  position: relative;
  width: 85%;
}
.contact-form-message {
  width: 100%;
  height: 180px;
  border-radius: 10px;
  resize: none;
  padding: 20px;
}
.contact-form-submit {
  position: absolute;
  right: 15px;
  bottom: 15px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 30px;
  color: rgb(54, 89, 122);
}

input[type="email"],
textarea {
  font-family: var(--text);
  letter-spacing: 2px;
  color: rgb(37, 35, 35);
  outline: none;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(224, 219, 219);
  background-color: #1f333c;
  padding: 1.5rem;
}

.footer-copyright {
  margin-top: 4px;
}

@media screen and (min-width: 630px) {
}
